Options -Indexes

<IfModule mod_rewrite.c>

	RewriteEngine On
	RewriteBase /

	# Restrict php files direct access
	RewriteCond %{THE_REQUEST} ^.+?\ [^?]+\.php[?\ ]
	RewriteRule \.php$ - [F]

	# Allow any files or directories that exist to be displayed directly
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^(.*)$ index.php?$1 [QSA,L]

</IfModule>
