<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" cacheResult="false" bootstrap="./vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd">
  <coverage/>
  <testsuite name="phpGone test">
    <directory suffix=".php" phpVersion="8.1">tests</directory>
    <exclude>./tests/TestClass/</exclude>
  </testsuite>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
