<?xml version="1.0" encoding="utf-8" ?>

<phpunit colors="true" cacheResult="false" bootstrap="./vendor/autoload.php">
    <testsuite name="phpGone test">
        <directory suffix=".php">tests</directory>
        <exclude>./tests/TestClass/</exclude>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">core</directory>
        </whitelist>
    </filter>
</phpunit>