<?xml version="1.0" encoding="utf-8" ?>

<phpunit colors="true">
    <testsuite name="phpGone test">
        <directory>./tests/ResponseTest.php</directory>
    </testsuite>
    <filter>
        <whitelist proceessUncoveredFromWithelist="true">
            <directory suffic=".php">core</directory>
        </whitelist>
    </filter>
</phpunit>