<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8"/>
        <title>phpGone</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ css('style') }}
    </head>

    <body>
        <div>
            <h1>phpGone - Pour simplifier le php</h1>

            <p>Vous pouvez commencer à travailler dans
                <strong>"app/Controller"</strong>
            </p>

            <a href="https://github.com/beMang/phpgone/wiki" target="_blank">Documentation</a>
        </div>
    </body>

</html>