<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>phpGone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>phpGone - Pour simplifier le php</h1>

    <p>Ceci est une petite demo, le framework doit encore beaucoup évoluer</p>
</body>

</html>